* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5rem;
}

.active {
  border-bottom: 3px solid #20ace4;
}

.container {
  height: 100%;
  width: 90%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #20ace4;
}

body .outerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body .outerContainer .innerContainer {
  width: 90vw;
  min-height: 450vh;
  overflow: visible;
  scroll-behavior: smooth;
  margin-top: 60px;
  margin-bottom: 60px;
}

body .outerContainer .innerContainer header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 0 2px 1px #20ace4;
          box-shadow: 0 0 2px 1px #20ace4;
  z-index: 1000;
}

body .outerContainer .innerContainer header .container {
  padding: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .outerContainer .innerContainer header .container h2 {
  color: #20ace4;
  font-size: 32px;
}

body .outerContainer .innerContainer header .container nav {
  -webkit-transition: .8s ease;
  transition: .8s ease;
  margin: 0;
}

body .outerContainer .innerContainer header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body .outerContainer .innerContainer header .container nav ul li {
  margin: 10px;
}

body .outerContainer .innerContainer header .container nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: white;
  display: block;
  padding: 5px 10px;
}

body .outerContainer .innerContainer header .container nav ul li a:hover {
  background-color: transparent;
}

body .outerContainer .innerContainer header .container nav ul li .contactlink {
  background-color: orangered;
  color: #ebebeb;
}

body .outerContainer .innerContainer header .container nav ul li .contactlink:hover {
  background-color: orangered;
}

body .outerContainer .innerContainer header .container nav ul .closemenu {
  display: block;
}

body .outerContainer .innerContainer header .container .openmenu .menu {
  font-size: 2rem;
  margin: 20px;
  display: block;
  cursor: pointer;
}

@media (max-width: 780px) {
  body .outerContainer .innerContainer header nav {
    position: absolute;
    top: -60px;
    left: -29px;
    width: 100vw;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.95);
    display: none;
  }
  body .outerContainer .innerContainer header nav ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .outerContainer .innerContainer header nav ul a {
    width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .outerContainer .innerContainer header nav ul a:hover {
    background-color: #20ace4 !important;
  }
  body .outerContainer .innerContainer header nav ul .closemenu {
    position: absolute;
    right: 90px;
    top: 85px;
    color: white;
  }
  body .outerContainer .innerContainer header nav ul .closemenu .close {
    color: white;
    font-size: 2rem;
  }
}

@media (min-width: 780px) {
  body .outerContainer .innerContainer header nav {
    display: block !important;
  }
  body .outerContainer .innerContainer header nav ul .closemenu {
    display: none;
  }
  body .outerContainer .innerContainer header nav ul .closemenu .close {
    display: none;
  }
  body .outerContainer .innerContainer .openmenu {
    display: none;
  }
  body .outerContainer .innerContainer .openmenu .menu {
    display: none;
  }
}

body .outerContainer .innerContainer section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .outerContainer .innerContainer .home {
  background-color: #000;
  min-height: 500px;
  padding-top: 50px;
  overflow: hidden;
}

body .outerContainer .innerContainer .home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .outerContainer .innerContainer .home .container .content {
  width: 55%;
  color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

body .outerContainer .innerContainer .home .container .content p:nth-child(1) {
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .home .container .content .pt {
  margin-top: 20px;
  width: 53ch;
}

body .outerContainer .innerContainer .home .container .content span {
  width: 550px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .outerContainer .innerContainer .home .container .content span h1 {
  font-size: 3.5rem;
  -webkit-text-stroke: 2px #ebebeb;
  color: transparent;
}

body .outerContainer .innerContainer .home .container .content span p {
  margin-top: 15px;
  margin-left: 15px;
}

body .outerContainer .innerContainer .home .container .content h3 {
  margin-left: 260px;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px #20ace4;
  color: transparent;
}

body .outerContainer .innerContainer .home .container .content .links {
  margin-top: 20px;
}

body .outerContainer .innerContainer .home .container .content .links a {
  text-decoration: none;
  display: inline-block;
  background-color: #20ace4;
  padding: 5px 15px;
  color: #000;
  margin-right: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .home .container .content .links .contactlink {
  background-color: orangered;
  color: #ebebeb;
  border-radius: 5px;
}

body .outerContainer .innerContainer .home .container .banner {
  width: 40%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .outerContainer .innerContainer .home .container .banner .imgBox {
  position: relative;
  left: 0px;
  width: 370px;
  height: 270px;
  border-radius: 70% 30% 43% 57% / 55% 32% 68% 45%;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

body .outerContainer .innerContainer .home .container .banner .imgBox img {
  position: relative;
  top: -40px;
  left: -50px;
  width: 800px;
  height: 500px;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

body .outerContainer .innerContainer .home .container .banner:hover .imgBox {
  left: 70px;
}

body .outerContainer .innerContainer .home .container .banner:hover .imgBox img {
  left: -180px;
}

@media (max-width: 1215px) {
  body .outerContainer .innerContainer .home .container .content h3 {
    margin-left: 200px;
  }
  body .outerContainer .innerContainer .home .container .banner .imgBox {
    width: 350px;
  }
  body .outerContainer .innerContainer .home .container .banner .imgBox img {
    left: -80px;
    width: 750px;
    height: 450px;
  }
  body .outerContainer .innerContainer .home .container .banner:hover .imgBox {
    left: 50px;
  }
  body .outerContainer .innerContainer .home .container .banner:hover .imgBox img {
    left: -180px;
  }
}

@media (max-width: 1115px) {
  body .outerContainer .innerContainer .home .container .banner:hover .imgBox {
    left: 20px;
  }
  body .outerContainer .innerContainer .home .container .banner:hover .imgBox img {
    left: -150px;
  }
}

@media (max-width: 1050px) {
  body .outerContainer .innerContainer .home {
    padding-top: 50px;
    min-height: 400px;
    width: 100%;
    min-width: 300px;
  }
  body .outerContainer .innerContainer .home .container .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .outerContainer .innerContainer .home .container .content h3 {
    margin-left: 0px;
  }
  body .outerContainer .innerContainer .home .container .banner {
    display: none;
  }
}

@media (max-width: 603px) {
  body .outerContainer .innerContainer .home .container .content {
    width: 100%;
  }
  body .outerContainer .innerContainer .home .container .content p {
    font-size: 12px;
  }
  body .outerContainer .innerContainer .home .container .content .pt {
    width: 100%;
  }
  body .outerContainer .innerContainer .home .container .content span {
    width: 100%;
  }
  body .outerContainer .innerContainer .home .container .content span h1 {
    font-size: 2rem;
  }
  body .outerContainer .innerContainer .home .container .content span p {
    font-size: 12px;
    margin-top: 8px;
    margin-left: 5px;
  }
  body .outerContainer .innerContainer .home .container .content h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  body .outerContainer .innerContainer .home {
    width: 100%;
  }
  body .outerContainer .innerContainer .home .container .content {
    width: 100%;
  }
  body .outerContainer .innerContainer .home .container .content span h1 {
    font-size: 1.7rem;
  }
  body .outerContainer .innerContainer .home .container .content span p {
    margin-top: 5px;
  }
}

body .outerContainer .innerContainer .about {
  padding-top: 60px;
  min-height: 65vh;
  background-color: #ebebeb;
}

body .outerContainer .innerContainer .about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .outerContainer .innerContainer .about .container .left {
  width: 40%;
  min-width: 300px;
  height: 100%;
}

body .outerContainer .innerContainer .about .container .left .title {
  font-size: 32px;
  margin-bottom: 40px;
}

body .outerContainer .innerContainer .about .container .left .title span {
  color: #20ace4;
}

body .outerContainer .innerContainer .about .container .left h2 {
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .about .container .left h3 {
  margin-bottom: 15px;
  color: #20ace4;
}

body .outerContainer .innerContainer .about .container .left p {
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .about .container .right {
  width: 50%;
  min-width: 300px;
  height: 100%;
  padding-top: 110px;
}

body .outerContainer .innerContainer .about .container .right h3 {
  margin-bottom: 15px;
  color: #20ace4;
}

body .outerContainer .innerContainer .about .container .right p {
  margin-bottom: 20px;
}

@media (max-width: 740px) {
  body .outerContainer .innerContainer .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .outerContainer .innerContainer .about .container .left {
    width: 80%;
  }
  body .outerContainer .innerContainer .about .container .left .title {
    font-size: 1.5rem;
  }
  body .outerContainer .innerContainer .about .container .left h2 {
    font-size: 1.5rem;
  }
  body .outerContainer .innerContainer .about .container .left p {
    font-size: 12px;
  }
  body .outerContainer .innerContainer .about .container .right {
    width: 80%;
    padding-top: 0px;
  }
  body .outerContainer .innerContainer .about .container .right h2 {
    font-size: 1.5rem;
  }
  body .outerContainer .innerContainer .about .container .right p {
    font-size: 12px;
  }
}

body .outerContainer .innerContainer .projects {
  background-color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .outerContainer .innerContainer .projects h2 {
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #20ace4;
  font-size: 32px;
  margin-bottom: 40px;
}

body .outerContainer .innerContainer .projects .container {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 60px;
}

body .outerContainer .innerContainer .projects .container .projectBox {
  border: 1px solid #20ace4;
  border-bottom: none;
  width: 250px;
  height: 400px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

body .outerContainer .innerContainer .projects .container .projectBox .projectImg {
  width: 100%;
  height: 250px;
}

body .outerContainer .innerContainer .projects .container .projectBox .projectImg img {
  width: 100%;
  height: 100%;
}

body .outerContainer .innerContainer .projects .container .projectBox .projectAbout {
  width: 100%;
  padding: 0 10px;
}

body .outerContainer .innerContainer .projects .container .projectBox .projectAbout h2 {
  font-size: 17px;
  margin: 0;
}

body .outerContainer .innerContainer .projects .container .projectBox .projectAbout p {
  color: #ebebeb;
}

body .outerContainer .innerContainer .projects .container .projectBox .btn {
  width: 100%;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .outerContainer .innerContainer .projects .container .projectBox .btn a {
  position: relative;
  top: 0;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #20ace4;
  color: #ebebeb;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-size: 12px;
}

body .outerContainer .innerContainer .projects .container .projectBox .btn a:hover {
  top: -5px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

body .outerContainer .innerContainer .projects .container .projectBox:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

@media (max-width: 740px) {
  body .outerContainer .innerContainer .projects h2 {
    font-size: 1.5rem;
  }
}

body .outerContainer .innerContainer .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebebeb;
  margin-bottom: 80px;
}

body .outerContainer .innerContainer .contact h2 {
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #20ace4;
  font-size: 32px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

body .outerContainer .innerContainer .contact p {
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #20ace4;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

body .outerContainer .innerContainer .contact .container {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

body .outerContainer .innerContainer .contact .container .left {
  padding-top: 40px;
  width: 40%;
  min-width: 300px;
  height: 100%;
  background-color: #20ace4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 15px -3px #000;
          box-shadow: 5px 5px 15px -3px #000;
}

body .outerContainer .innerContainer .contact .container .left hr {
  color: #ebebeb;
  outline: none;
  width: 90%;
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .contact .container .left h3 {
  color: #ebebeb;
  text-transform: uppercase;
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .contact .container .left div {
  width: 80%;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .contact .container .left div i {
  color: #ebebeb;
  height: 100%;
  font-size: 30px;
  margin-right: 20px;
}

body .outerContainer .innerContainer .contact .container .left div .phone {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body .outerContainer .innerContainer .contact .container .left div p {
  color: #ebebeb;
  font-size: 13px;
  margin: 0px;
  text-transform: lowercase;
}

body .outerContainer .innerContainer .contact .container .left div a {
  font-size: 13px;
  text-decoration: none;
  color: #ebebeb;
}

body .outerContainer .innerContainer .contact .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  min-width: 300px;
  height: 100%;
}

body .outerContainer .innerContainer .contact .container .right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #20ace4;
  padding: 20px 40px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 15px -3px #000;
          box-shadow: 5px 5px 15px -3px #000;
}

body .outerContainer .innerContainer .contact .container .right form h2 {
  color: #ebebeb;
  margin-bottom: 15px;
  margin-left: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body .outerContainer .innerContainer .contact .container .right form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .outerContainer .innerContainer .contact .container .right form div .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}

body .outerContainer .innerContainer .contact .container .right form input {
  outline: none;
  border: 1px solid #ebebeb;
  line-height: 1.9rem;
  padding: 2px 10px;
  border-radius: 5px;
  background: transparent;
  color: #ebebeb;
}

body .outerContainer .innerContainer .contact .container .right form input::-webkit-input-placeholder, body .outerContainer .innerContainer .contact .container .right form textarea::-webkit-input-placeholder {
  color: #ebebeb;
}

body .outerContainer .innerContainer .contact .container .right form input:-ms-input-placeholder, body .outerContainer .innerContainer .contact .container .right form textarea:-ms-input-placeholder {
  color: #ebebeb;
}

body .outerContainer .innerContainer .contact .container .right form input::-ms-input-placeholder, body .outerContainer .innerContainer .contact .container .right form textarea::-ms-input-placeholder {
  color: #ebebeb;
}

body .outerContainer .innerContainer .contact .container .right form input::placeholder, body .outerContainer .innerContainer .contact .container .right form textarea::placeholder {
  color: #ebebeb;
}

body .outerContainer .innerContainer .contact .container .right form textarea {
  background: transparent;
  outline: none;
  border: 1px solid #ebebeb;
  line-height: 1.9rem;
  padding: 2px 10px;
  border-radius: 5px;
  height: 100px;
  resize: none;
  color: #ebebeb;
}

body .outerContainer .innerContainer .contact .container .right form .btns {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body .outerContainer .innerContainer .contact .container .right form .btns button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 20px;
  color: #ebebeb;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

body .outerContainer .innerContainer .contact .container .right form .btns button:hover {
  color: #20ace4;
  background-color: #ebebeb;
}

body .outerContainer .innerContainer .contact .container .right form .btns a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  outline: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 20px;
  color: #ebebeb;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

body .outerContainer .innerContainer .contact .container .right form .btns a:hover {
  color: #20ace4;
  background-color: #ebebeb;
}

@media (max-width: 740px) {
  body .outerContainer .innerContainer .contact h2 {
    font-size: 1.5rem;
  }
  body .outerContainer .innerContainer .contact p {
    font-size: 12px;
  }
  body .outerContainer .innerContainer .contact .container {
    margin-top: -30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 150vh;
  }
  body .outerContainer .innerContainer .contact .container .left {
    width: 80%;
    height: 400px;
    margin-bottom: 40px;
  }
  body .outerContainer .innerContainer .contact .container .right {
    height: 400px;
    width: 80%;
    padding-top: 0px;
  }
}

@media (min-width: 1440px) {
  body .outerContainer .innerContainer {
    width: 1440px;
    min-height: 250vh;
  }
  body .outerContainer .innerContainer .home {
    height: 600px;
  }
  body .outerContainer .innerContainer .about {
    min-height: 450px;
  }
  body .outerContainer .innerContainer .projects {
    min-height: 400px;
  }
  body .outerContainer .innerContainer .contact {
    min-height: 500px;
  }
}

@media (max-width: 1126px) {
  body .outerContainer .innerContainer {
    height: 430vh;
  }
}

@media (max-width: 925px) {
  body .outerContainer .innerContainer {
    height: 480vh;
  }
}

@media (max-width: 740px) {
  body .outerContainer .innerContainer {
    height: 550vh;
  }
}

@media (max-width: 617px) {
  body .outerContainer .innerContainer {
    height: 700vh;
  }
}
/*# sourceMappingURL=style.css.map */