* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5rem;
}

.active {
  border-bottom: 3px solid #20ace4;
}

.container {
  height: 100%;
  width: 90%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #20ace4;
}

body .outerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body .outerContainer .innerContainer {
  width: 90vw;
  min-height: 450vh;
  overflow: visible;
  scroll-behavior: smooth;
  background-color: #ebebeb;
  margin-top: 60px;
}

body .outerContainer .innerContainer header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  background-color: #ebebeb;
  -webkit-box-shadow: 0 0 2px 1px #20ace4;
          box-shadow: 0 0 2px 1px #20ace4;
  z-index: 1000;
}

body .outerContainer .innerContainer header .container {
  padding: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .outerContainer .innerContainer header .container h2 {
  color: #20ace4;
  font-size: 32px;
}

body .outerContainer .innerContainer header .container nav {
  margin: 0;
}

body .outerContainer .innerContainer header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

body .outerContainer .innerContainer header .container nav ul li {
  margin: 10px;
}

body .outerContainer .innerContainer header .container nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: white;
  display: block;
  padding: 5px 10px;
}

body .outerContainer .innerContainer header .container nav ul li a:hover {
  background-color: transparent;
}

body .outerContainer .innerContainer section {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .outerContainer .innerContainer .home {
  background-color: #000;
  min-height: 500px;
  padding-top: 50px;
}

body .outerContainer .innerContainer .home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .outerContainer .innerContainer .home .container .content {
  color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}

body .outerContainer .innerContainer .home .container .content p:nth-child(1) {
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .home .container .content .pt {
  margin-top: 20px;
  width: 53ch;
}

body .outerContainer .innerContainer .home .container .content span {
  width: 550px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

body .outerContainer .innerContainer .home .container .content span h1 {
  font-size: 3.5rem;
  -webkit-text-stroke: 2px #ebebeb;
  color: transparent;
}

body .outerContainer .innerContainer .home .container .content span p {
  margin-top: 15px;
  margin-left: 15px;
}

body .outerContainer .innerContainer .home .container .content h3 {
  margin-left: 260px;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px #20ace4;
  color: transparent;
}

body .outerContainer .innerContainer .home .container .content .links {
  margin-top: 20px;
}

body .outerContainer .innerContainer .home .container .content .links a {
  text-decoration: none;
  display: inline-block;
  background-color: #20ace4;
  padding: 5px 15px;
  color: #000;
  margin-right: 20px;
}

body .outerContainer .innerContainer .home .container .banner {
  width: 550px;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  overflow: hidden;
}

body .outerContainer .innerContainer .home .container .banner .imgBox {
  position: relative;
  left: 50px;
  width: 370px;
  height: 270px;
  border-radius: 50%;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

body .outerContainer .innerContainer .home .container .banner .imgBox img {
  position: relative;
  top: -60px;
  left: -100px;
  width: 900px;
  height: 500px;
  -webkit-transition: .8s ease;
  transition: .8s ease;
}

body .outerContainer .innerContainer .home .container .banner:hover .imgBox {
  left: 90px;
}

body .outerContainer .innerContainer .home .container .banner:hover .imgBox img {
  left: -180px;
}

body .outerContainer .innerContainer .about {
  padding-top: 60px;
  min-height: 65vh;
}

body .outerContainer .innerContainer .about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .outerContainer .innerContainer .about .container .left {
  width: 40%;
  min-width: 300px;
  height: 100%;
}

body .outerContainer .innerContainer .about .container .left .title {
  font-size: 32px;
  margin-bottom: 40px;
}

body .outerContainer .innerContainer .about .container .left .title span {
  color: #20ace4;
}

body .outerContainer .innerContainer .about .container .left h2 {
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .about .container .left h3 {
  margin-bottom: 15px;
  color: #20ace4;
}

body .outerContainer .innerContainer .about .container .left p {
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .about .container .right {
  width: 50%;
  min-width: 300px;
  height: 100%;
  padding-top: 110px;
}

body .outerContainer .innerContainer .about .container .right h3 {
  margin-bottom: 15px;
  color: #20ace4;
}

body .outerContainer .innerContainer .about .container .right p {
  margin-bottom: 20px;
}

body .outerContainer .innerContainer .projects {
  background-color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .outerContainer .innerContainer .projects h2 {
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #20ace4;
  font-size: 32px;
  margin-bottom: 40px;
}

body .outerContainer .innerContainer .projects .container {
  background-color: #ebebeb;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 60px;
}

body .outerContainer .innerContainer .projects .container .projectBox {
  width: 300px;
  height: 400px;
  background-color: blue;
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */